html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.auth-clients {
    padding-left: 0;
}


.news-title {
    font-size: 16px;
    font-weight: bold;
}
.btn-show-news {
    text-align: right;
}
.btn.btn-sm, .input-group-btn .btn.btn-sm, .btn-group-sm .btn, .btn-group-sm .input-group-btn .btn {
    padding: 5px 20px;
    font-size: 12px;
}

.field-news-date .help-block {
    margin-top: 15px;
}

.eventRecords {
    display: none;
}
.news_header {
    font-size: 16px;
    font-weight: bold;
}
.news {
    background-color: #ececec;
    border-color: #bebebe;
    color: #737373;
}
.news hr {
    border-color: #8a8a8a;
    margin-top: 3px;
    margin-bottom: 3px;
}
.event {
    padding: 15px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;
}

.event.event-canEnroll {
    background-color: #ea7352;
    color: rgba(255,255,255, 0.84);
}

.event.event-enrolled {
    background-color: #91b96d;
    color: rgba(255,255,255, 0.84);
}

.event.event-records {
    background-color: #6a9ff0;
    color: rgba(255,255,255, 0.84);
}

.event-wait {
    background-color: #e47c3a;
    color: rgba(255,255,255, 0.84);
}

.event a {
    color: rgba(255, 255, 255, 0.84);
}

.btn-show-news {
    text-align: right;
}

.recordUser {
    text-decoration: underline;
}
.recordEnrollTime {
    font-size: 12px;
}

.news-title {
    font-size: 16px;
    font-weight: bold;
}
.dialog-user {
    display: inline;
    width: 200px;
}
.dialog-message {
    display: inline;
    margin-left: 15px;
}
.dialog-vertical-separator {
    display: inline;
    margin-left: 5px;
    border-left: 1px dotted #B3A9A9;
    width: 1px;
    position: absolute;
    height: 50px;
}
.dialog {
    min-width: 300px;
    cursor: pointer;
}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}



@media only screen and (max-width : 768px) {
    .dialog-user {
        display: block;
    }
    .dialog-vertical-separator {
        display: block;
        border-top: 1px dotted #B3A9A9;
        width: 100%;
        height: 1px;
        margin: 5px;
        position: static;
    }
    .dialog-message {
        display: block;
        margin-left: 0;
    }
}
